<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="processors" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <processors>
    <add key="EmailWeatherInCelcius" value="EmailWeatherInCelcius.Processor, EmailWeatherInCelcius, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </processors>
  <appSettings>
    <add key="DefaultProcessor" value=""/>
    <add key="DebugMode" value="1"/>
    <add key="RegKey" value="qnXMIKz+bN3YEiQX2xUSuxfYkg/ATbZE/x1MaPsO2fFH8tnvlylbBVkhv0ymcr7g_"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
